In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics

In [3]:
df = pd.read_csv('stream_viewing.csv')
df.head(5)

   Stream ID              1              2            3                 4    5
0      10001      Cobra Kai          Lupin   12 Monkeys          Sherlock  NaN
1      10002           Lost      Jack Ryan    The Flash   Game of thrones  NaN
2      10003  Sex Education      Dr. House      Kingdom  The Walking Dead  NaN
3      10004          Ozark  Sex Education  Constantine          Preacher  NaN
4      10005         Naruto            NaN          NaN               NaN  NaN

# 1. What were the 10 most popular shows (based on 'support')?